USE [AdventureWorksDW2019]
GO
/****** Object:  StoredProcedure [ML].[usp_FindStoredProcReferences]    Script Date: 1/22/2026 1:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ML].[usp_FindStoredProcReferences]
AS
BEGIN
                                        --Enter value to wearch here.
    DECLARE @SearchText NVARCHAR(200) = 'dim'

    SET NOCOUNT ON;

    SELECT
          @@SERVERNAME AS ServerName
        , DB_NAME() AS DatabaseName
        , s.name AS SchemaName
        , p.name AS ProcedureName
        , m.definition AS ProcedureDefinition
        , CASE 
              WHEN m.definition LIKE '%' + @SearchText + '%' THEN 1 
              ELSE 0 
          END AS ContainsSearchText
    FROM sys.procedures p
    INNER JOIN sys.schemas s
        ON p.schema_id = s.schema_id
    INNER JOIN sys.sql_modules m
        ON p.object_id = m.object_id
    WHERE m.definition LIKE '%' + @SearchText + '%'
      AND s.name = 'ML'
    ORDER BY 
          s.name
        , p.name;

END;
