USE [AdventureWorksDW2019]
GO
/****** Object:  StoredProcedure [ML].[usp_GetMonthlySalesSummary]    Script Date: 1/22/2026 2:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [ML].[usp_GetMonthlySalesSummary]
    @StartDate DATE,
    @EndDate   DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Map future years to historical years (subtract 12 years)
    DECLARE @ShiftedStartDate DATE = DATEADD(YEAR, -12, @StartDate);
    DECLARE @ShiftedEndDate   DATE = DATEADD(YEAR, -12, @EndDate);

    SELECT
        -- Display shifted-forward year values
        YEAR(DATEADD(YEAR, 12, D.FullDateAlternateKey)) AS CalendarYear,
        MONTH(DATEADD(YEAR, 12, D.FullDateAlternateKey)) AS MonthNumberOfYear,
        DATENAME(MONTH, DATEADD(YEAR, 12, D.FullDateAlternateKey)) AS MonthName,
        CONCAT(
            YEAR(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
            '-',
            FORMAT(MONTH(DATEADD(YEAR, 12, D.FullDateAlternateKey)), '00')
        ) AS Period,

        -- Geography
        G.CountryRegionCode AS CountryCode,
        G.EnglishCountryRegionName AS Country,
        G.StateProvinceName,
        G.City,

        -- Metrics
        SUM(F.SalesAmount) AS TotalSales,
        COUNT(F.SalesOrderNumber) AS TotalOrders,
        COUNT(DISTINCT F.CustomerKey) AS TotalCustomers

    FROM FactInternetSales F
    INNER JOIN DimDate D
        ON F.OrderDateKey = D.DateKey
    INNER JOIN DimCustomer C
        ON F.CustomerKey = C.CustomerKey
    INNER JOIN DimGeography G
        ON C.GeographyKey = G.GeographyKey

    WHERE
        D.FullDateAlternateKey BETWEEN @ShiftedStartDate AND @ShiftedEndDate
        AND D.FullDateAlternateKey < '2026'

    GROUP BY
        YEAR(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
        MONTH(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
        DATENAME(MONTH, DATEADD(YEAR, 12, D.FullDateAlternateKey)),
        CONCAT(
            YEAR(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
            '-',
            FORMAT(MONTH(DATEADD(YEAR, 12, D.FullDateAlternateKey)), '00')
        ),
        G.CountryRegionCode,
        G.EnglishCountryRegionName,
        G.StateProvinceName,
        G.City

    ORDER BY
        YEAR(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
        MONTH(DATEADD(YEAR, 12, D.FullDateAlternateKey)),
        G.EnglishCountryRegionName,
        G.StateProvinceName,
        G.City;
END;
