/*============================================================================
  Procedure:   dba.usp_DatabaseFileHealth
  Purpose:     Database file and storage health assessment. Highlights risky
               growth settings, free space issues, and log VLF fragmentation.

  Overview:    - Runs from master (DB-agnostic via @DatabaseName)
               - Evaluates:
                   * File sizes and free space
                   * Autogrowth settings (percent vs MB, tiny growth)
                   * Max size limits
                   * Log VLF count (DBCC LOGINFO)
               - Returns a consolidated findings set with severity + category

  Parameters:  @DatabaseName      Target database
               @MinFreeSpacePct  Minimum free space % before WARNING
               @MaxVlfCount      Max recommended VLF count before WARNING
               @IncludeDetails   Include raw file context (0/1)

  Output:      One row per finding:
                   severity        (CRITICAL / WARNING / INFO)
                   finding_type    (e.g. LOW_FREE_SPACE, BAD_AUTOGROWTH)
                   file_type       (ROWS / LOG)
                   file_name
                   file_size_mb
                   free_space_mb
                   growth_desc
                   details

  Notes:       - Uses sys.database_files via dynamic SQL for DB-agnostic access.
               - Uses DBCC LOGINFO in dynamic SQL to capture VLF count.
               - Designed for dashboards and DBA health reports.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_DatabaseFileHealth
      @DatabaseName     sysname
    , @MinFreeSpacePct  int  = 10
    , @MaxVlfCount      int  = 200
    , @IncludeDetails   bit  = 1
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#Files')    is not null drop table #Files;
    if object_id('tempdb..#VLFs')     is not null drop table #VLFs;
    if object_id('tempdb..#Findings') is not null drop table #Findings;

    create table #Files
    (
          file_id        int
        , file_type      varchar(10)
        , file_name      sysname
        , physical_name  nvarchar(260)
        , size_mb        decimal(18,2)
        , max_size_mb    decimal(18,2) null
        , growth_mb      decimal(18,2) null
        , is_percent_growth bit
        , free_space_mb  decimal(18,2) null
        , free_space_pct decimal(18,2) null
    );

    create table #VLFs
    (
          vlf_count int
    );

    create table #Findings
    (
          severity         varchar(10)
        , finding_type     varchar(50)
        , file_type        varchar(10) null
        , file_name        sysname null
        , file_size_mb     decimal(18,2) null
        , free_space_mb    decimal(18,2) null
        , growth_desc      nvarchar(128) null
        , details          nvarchar(4000) null
    );

    -------------------------------------------------------------------------
    -- 1. File metadata from target DB (dynamic SQL)
    -------------------------------------------------------------------------
    declare @Sql nvarchar(max);

    set @Sql = N'
        select
              file_id
            , case when type_desc = ''ROWS'' then ''ROWS'' else ''LOG'' end as file_type
            , name
            , physical_name
            , size * 8.0 / 1024.0 as size_mb
            , case when max_size = -1 then null else max_size * 8.0 / 1024.0 end as max_size_mb
            , case when growth = 0 then 0
                   when is_percent_growth = 1 then growth * 1.0
                   else growth * 8.0 / 1024.0 end as growth_mb
            , is_percent_growth
            , null as free_space_mb
            , null as free_space_pct
        from ' + quotename(@DatabaseName) + '.sys.database_files;
    ';

    insert into #Files
    (
          file_id
        , file_type
        , file_name
        , physical_name
        , size_mb
        , max_size_mb
        , growth_mb
        , is_percent_growth
        , free_space_mb
        , free_space_pct
    )
    exec(@Sql);

    -------------------------------------------------------------------------
    -- 2. Free space per file using FILEPROPERTY (dynamic SQL)
    -------------------------------------------------------------------------
    -- Note: FILEPROPERTY requires context in the target DB.
    set @Sql = N'
        select
              file_id
            , (size * 8.0 / 1024.0) as size_mb
            , (size * 8.0 / 1024.0) - (FILEPROPERTY(name, ''SpaceUsed'') * 8.0 / 1024.0) as free_space_mb
        from ' + quotename(@DatabaseName) + '.sys.database_files;
    ';

    if object_id('tempdb..#FileSpace') is not null drop table #FileSpace;

    create table #FileSpace
    (
          file_id       int
        , size_mb       decimal(18,2)
        , free_space_mb decimal(18,2)
    );

    insert into #FileSpace
    (
          file_id
        , size_mb
        , free_space_mb
    )
    exec(@Sql);

    update f
    set
          f.free_space_mb  = fs.free_space_mb
        , f.free_space_pct = case when fs.size_mb = 0 then 0
                                  else (fs.free_space_mb * 100.0 / fs.size_mb) end
    from #Files f
    join #FileSpace fs
        on fs.file_id = f.file_id;

    -------------------------------------------------------------------------
    -- 3. VLF count for log file (DBCC LOGINFO via dynamic SQL)
    -------------------------------------------------------------------------
    set @Sql = N'
        use ' + quotename(@DatabaseName) + ';
        dbcc loginfo;
    ';

    if object_id('tempdb..#LogInfo') is not null drop table #LogInfo;

    create table #LogInfo
    (
          [RecoveryUnitId] int null
        , [FileId]         int null
        , [FileSize]       bigint null
        , [StartOffset]    bigint null
        , [FSeqNo]         int null
        , [Status]         int null
        , [Parity]         int null
        , [CreateLSN]      numeric(25,0) null
    );

    insert into #LogInfo
    exec(@Sql);

    insert into #VLFs (vlf_count)
    select count(*) from #LogInfo;

    -------------------------------------------------------------------------
    -- 4. Low free space findings
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , file_type
        , file_name
        , file_size_mb
        , free_space_mb
        , growth_desc
        , details
    )
    select
          case when f.free_space_pct <= @MinFreeSpacePct / 2.0 then 'CRITICAL' else 'WARNING' end
        , 'LOW_FREE_SPACE'
        , f.file_type
        , f.file_name
        , f.size_mb
        , f.free_space_mb
        , case when f.is_percent_growth = 1
               then concat(cast(f.growth_mb as varchar(20)), '%')
               else concat(cast(f.growth_mb as varchar(20)), ' MB')
          end
        , concat('Free space ', cast(f.free_space_pct as varchar(20)), '% is below threshold of ',
                 @MinFreeSpacePct, '%.')
    from #Files f
    where f.free_space_pct is not null
      and f.free_space_pct < @MinFreeSpacePct;

    -------------------------------------------------------------------------
    -- 5. Bad autogrowth settings (percent growth or tiny MB growth)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , file_type
        , file_name
        , file_size_mb
        , growth_desc
        , details
    )
    select
          'WARNING'
        , 'BAD_AUTOGROWTH'
        , f.file_type
        , f.file_name
        , f.size_mb
        , case when f.is_percent_growth = 1
               then concat(cast(f.growth_mb as varchar(20)), '%')
               else concat(cast(f.growth_mb as varchar(20)), ' MB')
          end
        , case when f.is_percent_growth = 1
               then 'Autogrowth is percentage-based; consider fixed MB growth.'
               else 'Autogrowth increment is very small; consider larger growth size.'
          end
    from #Files f
    where (f.is_percent_growth = 1)
       or (f.is_percent_growth = 0 and f.growth_mb between 0 and 16);

    -------------------------------------------------------------------------
    -- 6. Max size limits (non-unlimited)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , file_type
        , file_name
        , file_size_mb
        , growth_desc
        , details
    )
    select
          'WARNING'
        , 'MAX_SIZE_LIMIT'
        , f.file_type
        , f.file_name
        , f.size_mb
        , case when f.max_size_mb is null
               then 'UNLIMITED'
               else concat('Max ', cast(f.max_size_mb as varchar(20)), ' MB')
          end
        , 'File has a max size limit; monitor for growth exhaustion.'
    from #Files f
    where f.max_size_mb is not null;

    -------------------------------------------------------------------------
    -- 7. VLF count findings
    -------------------------------------------------------------------------
    declare @vlf_count int;

    select @vlf_count = vlf_count from #VLFs;

    if @vlf_count is not null and @vlf_count > @MaxVlfCount
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , file_type
            , details
        )
        values
        (
              'WARNING'
            , 'HIGH_VLF_COUNT'
            , 'LOG'
            , concat('Log file has ', @vlf_count, ' VLFs, exceeding threshold of ', @MaxVlfCount, '.')
        );
    end;

    -------------------------------------------------------------------------
    -- 8. Optional: informational file context
    -------------------------------------------------------------------------
    if @IncludeDetails = 1
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , file_type
            , file_name
            , file_size_mb
            , free_space_mb
            , growth_desc
            , details
        )
        select
              'INFO'
            , 'FILE_CONTEXT'
            , f.file_type
            , f.file_name
            , f.size_mb
            , f.free_space_mb
            , case when f.is_percent_growth = 1
                   then concat(cast(f.growth_mb as varchar(20)), '%')
                   else concat(cast(f.growth_mb as varchar(20)), ' MB')
              end
            , 'File size and growth context for dashboard display.'
        from #Files f;
    end;

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          severity
        , finding_type
        , file_type
        , file_name
        , file_size_mb
        , free_space_mb
        , growth_desc
        , details
    from #Findings
    order by
          case severity when 'CRITICAL' then 1 when 'WARNING' then 2 else 3 end
        , finding_type
        , file_type
        , file_name;

end;

--exec dba.usp_DatabaseFileHealth @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_DatabaseFileHealth @DatabaseName = 'AdventureWorksDW2019'