/*============================================================================
  Procedure:   dba.usp_DBTableHealthDashboard
  Purpose:     Unified, database‑level table health dashboard that aggregates
               row‑count trends, storage/bloat metrics, skew analysis, null
               anomaly detection, and statistics/cardinality health into a
               single, severity‑scored report.

  Overview:    - Captures a row‑count snapshot on every execution
               - Computes deltas and growth classifications using history
               - Joins table‑level diagnostics from component procs
               - Produces one row per table with unified severity scoring
               - Recommends corrective actions based on highest‑severity signal

  Parameters:  @DatabaseName        Target database for analysis
               @IncludeSystemTables Include system tables (0 = user only)

  Dependencies:
               - dba.TableRowCountHistory (persistent snapshot store)
               - Component procs (added incrementally):
                     usp_TableBloat
                     usp_TableSkew
                     usp_TableNullAnomalies
                     usp_TableCardinalityHealth

  Output:      One row per table with:
                   row_count, delta, delta_pct, growth_class
                   bloat_class, skew_class, null_class, stats_class
                   severity, recommended_action

  Notes:       This is the top‑layer orchestrator for the Table Health Suite.
               Component procs may initially be placeholders and will be
               implemented incrementally.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_DBTableHealthDashboard
      @DatabaseName        sysname
    , @IncludeSystemTables bit = 0
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (
        select 1
        from sys.databases
        where name = @DatabaseName
    )
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- ensure history table exists
    -------------------------------------------------------------------------
    if not exists (
        select 1
        from sys.tables
        where name = 'TableRowCountHistory'
          and schema_id = schema_id('dba')
    )
    begin
        exec('
            create table dba.TableRowCountHistory
            (
                  database_name sysname       not null
                , table_schema  sysname       not null
                , table_name    sysname       not null
                , row_count     bigint        not null
                , snapshot_time datetime2(3)  not null default sysdatetime()
            );
        ');
    end;

    -------------------------------------------------------------------------
    -- temp table for table list
    -------------------------------------------------------------------------
    if object_id('tempdb..#Tables') is not null drop table #Tables;

    create table #Tables
    (
          table_schema sysname
        , table_name   sysname
    );

    -------------------------------------------------------------------------
    -- load table list from target database
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = '
    use [' + @DatabaseName + '];

    insert into #Tables (table_schema, table_name)
    select
          s.name
        , t.name
    from sys.tables t
    join sys.schemas s
        on s.schema_id = t.schema_id
    where 1 = 1
      and (' + case when @IncludeSystemTables = 1
                    then '1=1'
                    else 't.is_ms_shipped = 0' end + ');
    ';

    exec(@sql);

    -------------------------------------------------------------------------
    -- snapshot row counts
    -------------------------------------------------------------------------
    declare @schema sysname, @table sysname, @rowcount bigint;

    declare table_cursor cursor fast_forward for
    select table_schema, table_name
    from #Tables;

    open table_cursor;

    fetch next from table_cursor into @schema, @table;

    while @@fetch_status = 0
    begin
        set @sql = '
        use [' + @DatabaseName + '];

        select @rc_out = count(*)
        from [' + @schema + '].[' + @table + '];
        ';

        exec sys.sp_executesql
              @sql
            , N'@rc_out bigint output'
            , @rc_out = @rowcount output;

        insert into dba.TableRowCountHistory
        (
              database_name
            , table_schema
            , table_name
            , row_count
        )
        values
        (
              @DatabaseName
            , @schema
            , @table
            , @rowcount
        );

        fetch next from table_cursor into @schema, @table;
    end;

    close table_cursor;
    deallocate table_cursor;

    -------------------------------------------------------------------------
    -- temp table for row count deltas
    -------------------------------------------------------------------------
    if object_id('tempdb..#RowCounts') is not null drop table #RowCounts;

    create table #RowCounts
    (
          table_schema sysname
        , table_name   sysname
        , row_count    bigint
        , prev_count   bigint
        , delta        bigint
        , delta_pct    decimal(10,2)
        , growth_class varchar(20)
    );

    -------------------------------------------------------------------------
    -- compute deltas
    -------------------------------------------------------------------------
    insert into #RowCounts
    (
          table_schema
        , table_name
        , row_count
        , prev_count
        , delta
        , delta_pct
        , growth_class
    )
    select
          h.table_schema
        , h.table_name
        , h.row_count
        , p.row_count as prev_count
        , h.row_count - p.row_count as delta
        , case when p.row_count = 0 then null
               else ( (h.row_count - p.row_count) * 100.0 / p.row_count ) end as delta_pct
        , case
            when p.row_count is null then 'NEW'
            when h.row_count = p.row_count then 'STABLE'
            when h.row_count > p.row_count then 'GROWTH'
            when h.row_count < p.row_count then 'SHRINKAGE'
            else 'UNKNOWN'
          end as growth_class
    from dba.TableRowCountHistory h
    outer apply (
        select top (1) row_count
        from dba.TableRowCountHistory p
        where p.database_name = h.database_name
          and p.table_schema  = h.table_schema
          and p.table_name    = h.table_name
          and p.snapshot_time < h.snapshot_time
        order by p.snapshot_time desc
    ) p
    where h.snapshot_time = (
        select max(snapshot_time)
        from dba.TableRowCountHistory
        where database_name = @DatabaseName
          and table_schema  = h.table_schema
          and table_name    = h.table_name
    );

    -------------------------------------------------------------------------
    -- placeholder temp tables for other diagnostics
    -- (these will be replaced as we build each component proc)
    -------------------------------------------------------------------------
    if object_id('tempdb..#Bloat') is not null drop table #Bloat;
    if object_id('tempdb..#Skew')  is not null drop table #Skew;
    if object_id('tempdb..#Nulls') is not null drop table #Nulls;
    if object_id('tempdb..#Stats') is not null drop table #Stats;

    create table #Bloat (table_schema sysname, table_name sysname, bloat_class varchar(20));
    create table #Skew  (table_schema sysname, table_name sysname, skew_class  varchar(20));
    create table #Nulls (table_schema sysname, table_name sysname, null_class  varchar(20));
    create table #Stats (table_schema sysname, table_name sysname, stats_class varchar(20));

    -------------------------------------------------------------------------
    -- final unified dashboard output
    -------------------------------------------------------------------------
    select
          r.table_schema
        , r.table_name
        , r.row_count
        , r.delta
        , r.delta_pct
        , r.growth_class
        , b.bloat_class
        , s.skew_class
        , n.null_class
        , st.stats_class

        , case
            when coalesce(b.bloat_class, 'HEALTHY') = 'CRITICAL' then 'CRITICAL'
            when coalesce(s.skew_class,  'HEALTHY') = 'CRITICAL' then 'CRITICAL'
            when coalesce(n.null_class,  'HEALTHY') = 'CRITICAL' then 'CRITICAL'
            when coalesce(st.stats_class,'HEALTHY') = 'CRITICAL' then 'CRITICAL'
            when r.growth_class = 'SHRINKAGE' then 'WARNING'
            when r.growth_class = 'GROWTH'    then 'WARNING'
            else 'HEALTHY'
          end as severity

        , case
            when coalesce(b.bloat_class, 'HEALTHY') = 'CRITICAL' then 'REBUILD'
            when coalesce(b.bloat_class, 'HEALTHY') = 'WARNING'  then 'REORGANIZE'
            when coalesce(st.stats_class,'HEALTHY') = 'CRITICAL' then 'UPDATE STATS'
            when coalesce(n.null_class,  'HEALTHY') = 'WARNING'  then 'FIX ETL'
            when coalesce(s.skew_class,  'HEALTHY') = 'WARNING'  then 'PARTITION'
            when r.growth_class = 'GROWTH'                        then 'ARCHIVE'
            else 'NONE'
          end as recommended_action

    from #RowCounts r
    left join #Bloat b
        on b.table_schema = r.table_schema
       and b.table_name   = r.table_name
    left join #Skew s
        on s.table_schema = r.table_schema
       and s.table_name   = r.table_name
    left join #Nulls n
        on n.table_schema = r.table_schema
       and n.table_name   = r.table_name
    left join #Stats st
        on st.table_schema = r.table_schema
       and st.table_name   = r.table_name

    order by r.table_schema, r.table_name;

end;

--exec dba.usp_DBTableHealthDashboard

go

exec dba.usp_DBTableHealthDashboard @DatabaseName = 'AdventureWorksDW2019';