/*============================================================================
  Procedure:   dba.usp_SecurityAndPermissionsHealth
  Purpose:     Database-level security and permissions health check. Surfaces
               risky, misconfigured, or orphaned principals and permissions.

  Overview:    - Runs against a target database (DB-agnostic, callable from master)
               - Evaluates users, roles, and permissions
               - Flags high-risk patterns and misconfigurations
               - Returns a consolidated findings set with severity and category

  Parameters:  @DatabaseName   Target database
               @IncludeDetails Include raw principal/permission context (0/1)

  Output:      One row per finding:
                   severity        (CRITICAL / WARNING / INFO)
                   finding_type    (e.g. ORPHANED_USER, EXCESSIVE_ROLE)
                   principal_name
                   principal_type
                   role_name
                   permission_name
                   permission_state
                   securable_name
                   details

  Notes:       - DB-agnostic: all database metadata is pulled via dynamic SQL.
               - Server principals are materialized separately to allow safe SID joins.
               - No cross-database joins are used.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_SecurityAndPermissionsHealth
      @DatabaseName   sysname
    , @IncludeDetails bit = 1
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#DbPrincipals')   is not null drop table #DbPrincipals;
    if object_id('tempdb..#DbRoleMembers')  is not null drop table #DbRoleMembers;
    if object_id('tempdb..#DbPermissions')  is not null drop table #DbPermissions;
    if object_id('tempdb..#ServerPrincipals') is not null drop table #ServerPrincipals;
    if object_id('tempdb..#Findings')       is not null drop table #Findings;

    create table #DbPrincipals
    (
          principal_id   int
        , name           sysname
        , type           char(1)
        , type_desc      nvarchar(60)
        , default_schema sysname null
        , sid            varbinary(85)
    );

    create table #DbRoleMembers
    (
          role_principal_id   int
        , member_principal_id int
    );

    create table #DbPermissions
    (
          class_desc        nvarchar(60)
        , major_id          int
        , minor_id          int
        , grantee_principal_id int
        , grantor_principal_id int
        , permission_name   nvarchar(128)
        , state_desc        nvarchar(60)
    );

    create table #ServerPrincipals
    (
          name       sysname
        , type_desc  nvarchar(60)
        , sid        varbinary(85)
    );

    create table #Findings
    (
          severity         varchar(10)
        , finding_type     varchar(50)
        , principal_name   sysname null
        , principal_type   nvarchar(60) null
        , role_name        sysname null
        , permission_name  nvarchar(128) null
        , permission_state nvarchar(60) null
        , securable_name   nvarchar(256) null
        , details          nvarchar(4000) null
    );

    -------------------------------------------------------------------------
    -- 1. Pull database principals (dynamic SQL)
    -------------------------------------------------------------------------
    declare @Sql nvarchar(max);

    set @Sql = N'
        select
              principal_id
            , name
            , type
            , type_desc
            , default_schema_name
            , sid
        from ' + quotename(@DatabaseName) + '.sys.database_principals
        where type in (''S'',''U'',''G'',''R'')
          and name not in (''sys'', ''INFORMATION_SCHEMA'');
    ';

    insert into #DbPrincipals
    (
          principal_id
        , name
        , type
        , type_desc
        , default_schema
        , sid
    )
    exec(@Sql);

    -------------------------------------------------------------------------
    -- 2. Pull database role members (dynamic SQL)
    -------------------------------------------------------------------------
    set @Sql = N'
        select
              role_principal_id
            , member_principal_id
        from ' + quotename(@DatabaseName) + '.sys.database_role_members;
    ';

    insert into #DbRoleMembers
    (
          role_principal_id
        , member_principal_id
    )
    exec(@Sql);

    -------------------------------------------------------------------------
    -- 3. Pull database permissions (dynamic SQL)
    -------------------------------------------------------------------------
    set @Sql = N'
        select
              class_desc
            , major_id
            , minor_id
            , grantee_principal_id
            , grantor_principal_id
            , permission_name
            , state_desc
        from ' + quotename(@DatabaseName) + '.sys.database_permissions;
    ';

    insert into #DbPermissions
    (
          class_desc
        , major_id
        , minor_id
        , grantee_principal_id
        , grantor_principal_id
        , permission_name
        , state_desc
    )
    exec(@Sql);

    -------------------------------------------------------------------------
    -- 4. Pull server principals (static)
    -------------------------------------------------------------------------
    insert into #ServerPrincipals
    (
          name
        , type_desc
        , sid
    )
    select
          name
        , type_desc
        , sid
    from sys.server_principals;

    -------------------------------------------------------------------------
    -- 5. Orphaned users (SID mismatch)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , details
    )
    select
          'CRITICAL'
        , 'ORPHANED_USER'
        , dp.name
        , dp.type_desc
        , 'Database user has no matching server principal.'
    from #DbPrincipals dp
    left join #ServerPrincipals sp
        on dp.sid = sp.sid
    where sp.sid is null
      and dp.type in ('S','U');

    -------------------------------------------------------------------------
    -- 6. High-privilege role memberships (db_owner)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , role_name
        , details
    )
    select
          'CRITICAL'
        , 'EXCESSIVE_ROLE'
        , m.name
        , m.type_desc
        , r.name
        , 'Principal is member of db_owner.'
    from #DbRoleMembers rm
    join #DbPrincipals r
        on r.principal_id = rm.role_principal_id
    join #DbPrincipals m
        on m.principal_id = rm.member_principal_id
    where r.name = 'db_owner'
      and m.name <> 'dbo';

    -------------------------------------------------------------------------
    -- 7. Public role permissions
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , permission_name
        , permission_state
        , details
    )
    select
          case when dp.permission_name in ('CONTROL','ALTER','INSERT','UPDATE','DELETE')
               then 'CRITICAL'
               else 'WARNING'
          end
        , 'PUBLIC_ROLE_PERMISSION'
        , p.name
        , p.type_desc
        , dp.permission_name
        , dp.state_desc
        , 'Permission granted to public role.'
    from #DbPermissions dp
    join #DbPrincipals p
        on p.principal_id = dp.grantee_principal_id
    where p.name = 'public';

    -------------------------------------------------------------------------
    -- 8. Guest user enabled
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , details
    )
    select
          'CRITICAL'
        , 'GUEST_ENABLED'
        , p.name
        , p.type_desc
        , 'Guest user is enabled in database.'
    from #DbPrincipals p
    where p.name = 'guest'
      and p.type_desc = 'SQL_USER';

    -------------------------------------------------------------------------
    -- 9. Powerful permissions (CONTROL, ALTER ANY *)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , permission_name
        , permission_state
        , details
    )
    select
          'CRITICAL'
        , 'POWER_PERMISSION'
        , p.name
        , p.type_desc
        , dp.permission_name
        , dp.state_desc
        , 'Principal has powerful database-level permission.'
    from #DbPermissions dp
    join #DbPrincipals p
        on p.principal_id = dp.grantee_principal_id
    where dp.class_desc = 'DATABASE'
      and dp.permission_name in
          ('CONTROL','ALTER ANY SCHEMA','ALTER ANY USER','ALTER ANY ROLE','ALTER ANY APPLICATION ROLE');

    -------------------------------------------------------------------------
    -- 10. Optional: informational role memberships
    -------------------------------------------------------------------------
    if @IncludeDetails = 1
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , principal_name
            , principal_type
            , role_name
            , details
        )
        select
              'INFO'
            , 'ROLE_MEMBERSHIP'
            , m.name
            , m.type_desc
            , r.name
            , 'Principal is member of database role.'
        from #DbRoleMembers rm
        join #DbPrincipals r
            on r.principal_id = rm.role_principal_id
        join #DbPrincipals m
            on m.principal_id = rm.member_principal_id;
    end;

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          severity
        , finding_type
        , principal_name
        , principal_type
        , role_name
        , permission_name
        , permission_state
        , securable_name
        , details
    from #Findings
    order by
          case severity when 'CRITICAL' then 1 when 'WARNING' then 2 else 3 end
        , finding_type
        , principal_name;

end;

--exec dba.usp_SecurityAndPermissionsHealth @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_SecurityAndPermissionsHealth @DatabaseName = 'AdventureWorksDW2019'