/*============================================================================
  Procedure:   dba.usp_ServerSecurityHealth
  Purpose:     Server-level security posture assessment. Identifies risky,
               misconfigured, or high-privilege server principals, roles,
               permissions, and configuration states.

  Overview:    - Evaluates server principals, roles, and permissions
               - Flags high-risk patterns (sysadmin, CONTROL SERVER, etc.)
               - Detects orphaned logins, disabled logins, SQL auth drift
               - Checks server configuration for unsafe settings
               - Returns a consolidated findings set with severity + category

  Output:      One row per finding:
                   severity        (CRITICAL / WARNING / INFO)
                   finding_type    (e.g. SYSADMIN_ROLE, DISABLED_LOGIN)
                   principal_name
                   principal_type
                   permission_name
                   permission_state
                   details

  Notes:       - Complements dba.usp_SecurityAndPermissionsHealth (DB-level)
               - No dynamic SQL required (server metadata is global)
               - Safe for dashboards and automation

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_ServerSecurityHealth
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#ServerPrincipals')   is not null drop table #ServerPrincipals;
    if object_id('tempdb..#ServerRoleMembers')  is not null drop table #ServerRoleMembers;
    if object_id('tempdb..#ServerPermissions')  is not null drop table #ServerPermissions;
    if object_id('tempdb..#Findings')           is not null drop table #Findings;

    create table #ServerPrincipals
    (
          principal_id int
        , name         sysname
        , type_desc    nvarchar(60)
        , is_disabled  bit
        , sid          varbinary(85)
    );

    create table #ServerRoleMembers
    (
          role_principal_id   int
        , member_principal_id int
    );

    create table #ServerPermissions
    (
          class_desc        nvarchar(60)
        , major_id          int
        , grantee_principal_id int
        , permission_name   nvarchar(128)
        , state_desc        nvarchar(60)
    );

    create table #Findings
    (
          severity         varchar(10)
        , finding_type     varchar(50)
        , principal_name   sysname null
        , principal_type   nvarchar(60) null
        , permission_name  nvarchar(128) null
        , permission_state nvarchar(60) null
        , details          nvarchar(4000) null
    );

    -------------------------------------------------------------------------
    -- 1. Server principals
    -------------------------------------------------------------------------
    insert into #ServerPrincipals
    (
          principal_id
        , name
        , type_desc
        , is_disabled
        , sid
    )
    select
          principal_id
        , name
        , type_desc
        , is_disabled
        , sid
    from sys.server_principals
    where type_desc not in ('SERVER_ROLE');

    -------------------------------------------------------------------------
    -- 2. Server role members
    -------------------------------------------------------------------------
    insert into #ServerRoleMembers
    (
          role_principal_id
        , member_principal_id
    )
    select
          role_principal_id
        , member_principal_id
    from sys.server_role_members;

    -------------------------------------------------------------------------
    -- 3. Server permissions
    -------------------------------------------------------------------------
    insert into #ServerPermissions
    (
          class_desc
        , major_id
        , grantee_principal_id
        , permission_name
        , state_desc
    )
    select
          class_desc
        , major_id
        , grantee_principal_id
        , permission_name
        , state_desc
    from sys.server_permissions;

    -------------------------------------------------------------------------
    -- 4. Sysadmin role members
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , details
    )
    select
          'CRITICAL'
        , 'SYSADMIN_ROLE'
        , sp.name
        , sp.type_desc
        , 'Principal is a member of sysadmin server role.'
    from #ServerRoleMembers rm
    join sys.server_principals r
        on r.principal_id = rm.role_principal_id
    join #ServerPrincipals sp
        on sp.principal_id = rm.member_principal_id
    where r.name = 'sysadmin'
      and sp.name not in ('sa');

    -------------------------------------------------------------------------
    -- 5. Disabled logins
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , details
    )
    select
          'WARNING'
        , 'DISABLED_LOGIN'
        , sp.name
        , sp.type_desc
        , 'Login is disabled.'
    from #ServerPrincipals sp
    where sp.is_disabled = 1;

    -------------------------------------------------------------------------
    -- 6. SQL authentication drift (SQL logins with weak patterns)
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , details
    )
    select
          'WARNING'
        , 'SQL_AUTH_LOGIN'
        , sp.name
        , sp.type_desc
        , 'SQL authentication login detected. Review password policy.'
    from #ServerPrincipals sp
    where sp.type_desc = 'SQL_LOGIN'
      and sp.name not in ('sa');

    -------------------------------------------------------------------------
    -- 7. CONTROL SERVER or ALTER ANY LOGIN permissions
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , permission_name
        , permission_state
        , details
    )
    select
          'CRITICAL'
        , 'POWER_PERMISSION'
        , sp.name
        , sp.type_desc
        , perm.permission_name
        , perm.state_desc
        , 'Principal has powerful server-level permission.'
    from #ServerPermissions perm
    join #ServerPrincipals sp
        on sp.principal_id = perm.grantee_principal_id
    where perm.permission_name in ('CONTROL SERVER','ALTER ANY LOGIN');

    -------------------------------------------------------------------------
    -- 8. Public role server permissions
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , finding_type
        , principal_name
        , principal_type
        , permission_name
        , permission_state
        , details
    )
    select
          case when perm.permission_name in ('CONTROL SERVER','ALTER ANY LOGIN')
               then 'CRITICAL'
               else 'WARNING'
          end
        , 'PUBLIC_ROLE_PERMISSION'
        , 'public'
        , 'SERVER_ROLE'
        , perm.permission_name
        , perm.state_desc
        , 'Permission granted to public server role.'
    from #ServerPermissions perm
    join sys.server_principals sp
        on sp.principal_id = perm.grantee_principal_id
    where sp.name = 'public';

    -------------------------------------------------------------------------
    -- 9. xp_cmdshell enabled
    -------------------------------------------------------------------------
    if exists (select 1 from sys.configurations where name = 'xp_cmdshell' and value_in_use = 1)
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , details
        )
        values
        (
              'CRITICAL'
            , 'XP_CMDSHELL_ENABLED'
            , 'xp_cmdshell is enabled on the server.'
        );
    end;

    -------------------------------------------------------------------------
    -- 10. Ad hoc distributed queries enabled
    -------------------------------------------------------------------------
    if exists (select 1 from sys.configurations where name = 'Ad Hoc Distributed Queries' and value_in_use = 1)
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , details
        )
        values
        (
              'WARNING'
            , 'AD_HOC_DISTRIBUTED_QUERIES'
            , 'Ad Hoc Distributed Queries is enabled.'
        );
    end;

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          severity
        , finding_type
        , principal_name
        , principal_type
        , permission_name
        , permission_state
        , details
    from #Findings
    order by
          case severity when 'CRITICAL' then 1 when 'WARNING' then 2 else 3 end
        , finding_type
        , principal_name;

end;

--exec dba.usp_ServerSecurityHealth

go

exec dba.usp_ServerSecurityHealth --@DatabaseName = 'AdventureWorksDW2019'