/*============================================================================
  Procedure:   dba.usp_ForeignKeyFixScript
  Purpose:     Generates safe, evidence-driven fix scripts for foreign key
               integrity issues identified by dba.usp_ForeignKeyHealth.
               Produces CREATE INDEX, DELETE, and INSERT statements without
               executing them, enabling controlled remediation.

  Overview:    - Consumes foreign key health diagnostics (missing indexes,
                 orphaned child rows, missing parent keys)
               - Applies conservative, explainable recommendation logic
               - Generates fix scripts with full supporting evidence
               - Ensures 1:1 mapping between issue and fix (no duplication)
               - Never executes fixes; output is review-first, run-manually

  Output:      One row per foreign key issue with:
                   recommended_fix
                   recommended_reason
                   orphan_count
                   missing_parent_keys_count
                   child_row_count
                   fix_script
                   evidence_query

  Notes:       - Fully DB-agnostic; safe to run from master or any DBA context
               - Fix scripts are deterministic and GTB-aligned
               - Complements dba.usp_ForeignKeyHealth as part of the
                 Foreign Key Integrity Toolkit
               - Designed for dashboards, CI pipelines, and controlled DBA review

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/
  
  create or alter procedure dba.usp_ForeignKeyFixScript
      @DatabaseName sysname
    , @TableName   sysname = null
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (
        select 1
        from sys.databases
        where name = @DatabaseName
    )
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp table for fk metadata
    -------------------------------------------------------------------------
    if object_id('tempdb..#FKs') is not null drop table #FKs;

    create table #FKs
    (
          foreign_key_name sysname
        , child_schema     sysname
        , child_table      sysname
        , parent_schema    sysname
        , parent_table     sysname
        , child_column     sysname
        , parent_column    sysname
    );

    -------------------------------------------------------------------------
    -- load fk metadata from target database
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = '
    use [' + @DatabaseName + '];

    insert into #FKs
    (
          foreign_key_name
        , child_schema
        , child_table
        , parent_schema
        , parent_table
        , child_column
        , parent_column
    )
    select
          fk.name
        , sch_child.name
        , obj_child.name
        , sch_parent.name
        , obj_parent.name
        , c_child.name
        , c_parent.name
    from sys.foreign_keys fk
    join sys.foreign_key_columns fkc
        on fkc.constraint_object_id = fk.object_id
    join sys.objects obj_child
        on obj_child.object_id = fk.parent_object_id
    join sys.schemas sch_child
        on sch_child.schema_id = obj_child.schema_id
    join sys.objects obj_parent
        on obj_parent.object_id = fk.referenced_object_id
    join sys.schemas sch_parent
        on sch_parent.schema_id = obj_parent.schema_id
    join sys.columns c_child
        on c_child.object_id = fkc.parent_object_id
       and c_child.column_id = fkc.parent_column_id
    join sys.columns c_parent
        on c_parent.object_id = fkc.referenced_object_id
       and c_parent.column_id = fkc.referenced_column_id
    where obj_child.type = ''U''
      and (' + case when @TableName is null
                    then '1=1'
                    else 'obj_child.name = ''' + @TableName + '''' end + ');
    ';

    exec(@sql);

    -------------------------------------------------------------------------
    -- validate fk metadata loaded
    -------------------------------------------------------------------------
    if not exists (select 1 from #FKs)
    begin
        raiserror('No foreign keys found for this database/table.', 16, 1);
        return;
    end;

    -------------------------------------------------------------------------
    -- evidence table (per fk + fix_type)
    -------------------------------------------------------------------------
    if object_id('tempdb..#Evidence') is not null drop table #Evidence;

    create table #Evidence
    (
          foreign_key_name            sysname
        , fix_type                    varchar(30)
        , orphan_count                int         null
        , missing_parent_keys_count   int         null
        , child_row_count             int         null
    );

    -------------------------------------------------------------------------
    -- fixes table (per fk + fix_type)
    -------------------------------------------------------------------------
    if object_id('tempdb..#Fixes') is not null drop table #Fixes;

    create table #Fixes
    (
          foreign_key_name sysname
        , fix_type        varchar(30)
        , issue           nvarchar(200)
        , fix_script      nvarchar(max)
    );

    -------------------------------------------------------------------------
    -- shared variables
    -------------------------------------------------------------------------
    declare
          @fk            sysname
        , @child_schema  sysname
        , @child_table   sysname
        , @parent_schema sysname
        , @parent_table  sysname
        , @child_col     sysname
        , @parent_col    sysname
        , @idx_sql       nvarchar(max)
        , @orph_sql      nvarchar(max)
        , @exists        int
        , @orphan_count  int
        , @missing_keys  int
        , @child_count   int;

    -------------------------------------------------------------------------
    -- 1. missing index detection (dynamic per fk)
    -------------------------------------------------------------------------
    declare idx_cursor cursor fast_forward for
    select
          foreign_key_name
        , child_schema
        , child_table
        , child_column
    from #FKs;

    open idx_cursor;

    fetch next from idx_cursor
    into @fk, @child_schema, @child_table, @child_col;

    while @@fetch_status = 0
    begin
        set @idx_sql = '
        use [' + @DatabaseName + '];

        select @exists_out = count(*)
        from sys.index_columns ic
        join sys.indexes i
            on i.object_id = ic.object_id
           and i.index_id  = ic.index_id
        where ic.object_id = object_id(''' + @child_schema + '.' + @child_table + ''')
          and ic.column_id = columnproperty(object_id(''' + @child_schema + '.' + @child_table + '''), ''' + @child_col + ''', ''ColumnId'');
        ';

        set @exists = null;

        exec sys.sp_executesql
              @idx_sql
            , N'@exists_out int output'
            , @exists_out = @exists output;

        if @exists is null
        begin
            raiserror('Index detection failed for FK %s.', 16, 1, @fk);
        end;

        if @exists = 0
        begin
            insert into #Fixes (foreign_key_name, fix_type, issue, fix_script)
            values
            (
                  @fk
                , 'INDEX'
                , 'MISSING SUPPORTING INDEX'
                , 'create index IX_' + @child_table + '_' + @child_col + '_FK
                   on [' + @child_schema + '].[' + @child_table + '] ([' + @child_col + ']);'
            );

            insert into #Evidence (foreign_key_name, fix_type, orphan_count, missing_parent_keys_count, child_row_count)
            values (@fk, 'INDEX', null, null, null);
        end;

        fetch next from idx_cursor
        into @fk, @child_schema, @child_table, @child_col;
    end;

    close idx_cursor;
    deallocate idx_cursor;

    -------------------------------------------------------------------------
    -- 2. orphan detection + evidence + fix scripts
    -------------------------------------------------------------------------
    declare fk_cursor cursor fast_forward for
    select
          foreign_key_name
        , child_schema
        , child_table
        , parent_schema
        , parent_table
        , child_column
        , parent_column
    from #FKs;

    open fk_cursor;

    fetch next from fk_cursor
    into @fk, @child_schema, @child_table, @parent_schema, @parent_table, @child_col, @parent_col;

    while @@fetch_status = 0
    begin
        set @orph_sql = '
        use [' + @DatabaseName + '];

        select
              @orphan_out = count(*)
            , @missing_out = count(distinct c.[' + @child_col + '])
            , @child_out = (select count(*) from [' + @child_schema + '].[' + @child_table + '])
        from [' + @child_schema + '].[' + @child_table + '] c
        where not exists (
            select 1
            from [' + @parent_schema + '].[' + @parent_table + '] p
            where p.[' + @parent_col + '] = c.[' + @child_col + ']
        );
        ';

        exec sys.sp_executesql
              @orph_sql
            , N'@orphan_out int output, @missing_out int output, @child_out int output'
            , @orphan_out = @orphan_count output
            , @missing_out = @missing_keys output
            , @child_out = @child_count output;

        insert into #Evidence (foreign_key_name, fix_type, orphan_count, missing_parent_keys_count, child_row_count)
        values (@fk, 'ORPHAN_DELETE', @orphan_count, @missing_keys, @child_count);

        insert into #Evidence (foreign_key_name, fix_type, orphan_count, missing_parent_keys_count, child_row_count)
        values (@fk, 'ORPHAN_INSERT', @orphan_count, @missing_keys, @child_count);

        insert into #Fixes (foreign_key_name, fix_type, issue, fix_script)
        values
        (
              @fk
            , 'ORPHAN_DELETE'
            , 'ORPHANED ROWS'
            , 'delete c
               from [' + @child_schema + '].[' + @child_table + '] c
               where not exists (
                   select 1
                   from [' + @parent_schema + '].[' + @parent_table + '] p
                   where p.[' + @parent_col + '] = c.[' + @child_col + ']
               );'
        );

        insert into #Fixes (foreign_key_name, fix_type, issue, fix_script)
        values
        (
              @fk
            , 'ORPHAN_INSERT'
            , 'ORPHANED ROWS (REPAIR PARENT)'
            , 'insert into [' + @parent_schema + '].[' + @parent_table + '] ([' + @parent_col + '])
               select distinct c.[' + @child_col + ']
               from [' + @child_schema + '].[' + @child_table + '] c
               where not exists (
                   select 1
                   from [' + @parent_schema + '].[' + @parent_table + '] p
                   where p.[' + @parent_col + '] = c.[' + @child_col + ']
               );'
        );

        fetch next from fk_cursor
        into @fk, @child_schema, @child_table, @parent_schema, @parent_table, @child_col, @parent_col;
    end;

    close fk_cursor;
    deallocate fk_cursor;

    -------------------------------------------------------------------------
    -- 3. merge fixes + evidence + recommendations (1:1 via fix_type)
    -------------------------------------------------------------------------
    select
          @@servername as server_name
        , @DatabaseName as database_name
        , f.foreign_key_name
        , f.issue
        , e.orphan_count
        , e.missing_parent_keys_count
        , e.child_row_count
        , case
            when f.issue = 'MISSING SUPPORTING INDEX'
                then 'CREATE INDEX'

            when f.fix_type = 'ORPHAN_DELETE'
                 and e.orphan_count <= 100
                then 'DELETE'

            when f.fix_type = 'ORPHAN_INSERT'
                 and e.orphan_count <= 100
                then 'ALTERNATIVE'

            when f.fix_type = 'ORPHAN_DELETE'
                 and e.orphan_count > 100
                 and e.missing_parent_keys_count <= 10
                then 'ALTERNATIVE'

            when f.fix_type = 'ORPHAN_INSERT'
                 and e.orphan_count > 100
                 and e.missing_parent_keys_count <= 10
                then 'INSERT'

            else 'REVIEW'
          end as recommended_fix

        , case
            when f.issue = 'MISSING SUPPORTING INDEX'
                then 'Foreign key column has no supporting index.'

            when e.orphan_count <= 100
                then 'Small number of orphaned rows (' + cast(e.orphan_count as varchar(20)) + '). Likely bad data.'

            when e.orphan_count > 100 and e.missing_parent_keys_count <= 10
                then 'Large number of orphaned rows (' + cast(e.orphan_count as varchar(20)) +
                     ') but few missing parent keys (' + cast(e.missing_parent_keys_count as varchar(20)) + ').'

            else 'Large number of orphans (' + cast(e.orphan_count as varchar(20)) +
                 ') and many missing parent keys (' + cast(e.missing_parent_keys_count as varchar(20)) +
                 '). Upstream ETL likely broken.'
          end as recommended_reason

        , f.fix_script
    from #Fixes f
    join #Evidence e
        on  e.foreign_key_name = f.foreign_key_name
        and e.fix_type        = f.fix_type
    where not
        (
            f.fix_type in ('ORPHAN_DELETE', 'ORPHAN_INSERT')
            and e.orphan_count = 0
        )
    order by f.foreign_key_name, f.issue;

end;

--exec dba.usp_ForeignKeyFixScript @DatabaseName = 'AdventureWorksDW2019';

go

exec dba.usp_ForeignKeyFixScript @DatabaseName = 'AdventureWorksDW2019';