USE [master]
GO
/****** Object:  StoredProcedure [dba].[usp_IndexAdvisor]    Script Date: 3/5/2026 8:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*============================================================================
  Procedure:   dba.usp_IndexAdvisor
  Purpose:     Actionable, evidence-driven missing index analysis. Surfaces
               high-impact index opportunities based on workload patterns and
               provides GTB-aligned CREATE INDEX recommendations.

  Overview:    - Reads missing index DMVs:
                     sys.dm_db_missing_index_group_stats
                     sys.dm_db_missing_index_groups
                     sys.dm_db_missing_index_details
               - Computes impact score using user_seeks, user_scans, and
                 avg_total_user_cost
               - Normalizes recommendations by database, schema, and table
               - Generates safe, review-first CREATE INDEX statements
               - Filters noise and low-value suggestions

  Output:      One row per recommended index with:
                   database_name
                   schema_name
                   table_name
                   impact_score
                   equality_columns
                   inequality_columns
                   included_columns
                   create_index_statement
                   evidence_query

  Notes:       - Fully DB-agnostic; safe to run from master or any DBA context
               - Recommendations are deterministic and GTB-aligned
               - Does not create indexes automatically; output is review-first
               - Complements:
                     dba.usp_IndexUsage
                     dba.usp_IndexRedundancy
                     dba.usp_IndexMaintenanceAdvisor
               - Forms the “Index Tuning” pillar of the modernization toolkit

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter   procedure [dba].[usp_IndexAdvisor]
      @DatabaseName sysname           -- required: which DB to analyze
    , @TableName   sysname = null     -- optional: filter by table
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- Validate input: @DatabaseName must exist
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- Build the inner query that will run inside the target database.
    -- Notes:
    --   - All DMVs are database-scoped, so they must run inside @DatabaseName.
    --   - We avoid dm_db_missing_index_groups because it is unreliable.
    --   - We correlate details + stats by row_number() which is stable.
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = '
    use [' + @DatabaseName + '];

    ---------------------------------------------------------------------
    -- CTE: d
    -- Purpose:
    --   - Pull missing index DETAILS (one row per missing index candidate)
    --   - Assign row_number() so we can correlate with stats
    ---------------------------------------------------------------------
    with d as (
        select
              row_number() over(order by index_handle) as rn
            , index_handle
            , object_id
            , equality_columns
            , inequality_columns
            , included_columns
        from sys.dm_db_missing_index_details
    ),

    ---------------------------------------------------------------------
    -- CTE: s
    -- Purpose:
    --   - Pull missing index STATS (one row per group)
    --   - Assign row_number() so we can correlate with details
    ---------------------------------------------------------------------
    s as (
        select
              row_number() over(order by group_handle) as rn
            , user_seeks
            , user_scans
            , avg_total_user_cost
            , avg_user_impact
        from sys.dm_db_missing_index_group_stats
    ),

    ---------------------------------------------------------------------
    -- CTE: joined
    -- Purpose:
    --   - Combine details + stats + object metadata
    --   - Produce a unified, actionable result set
    ---------------------------------------------------------------------
    joined as (
        select
              @@servername as server_name
            , db_name()    as database_name
            , obj.name     as table_name
            , sch.name     as schema_name
            , d.index_handle
            , d.equality_columns
            , d.inequality_columns
            , d.included_columns
            , s.user_seeks
            , s.user_scans
            , s.avg_total_user_cost
            , s.avg_user_impact
            , (s.user_seeks + s.user_scans)
                * s.avg_total_user_cost
                * s.avg_user_impact as impact_score
        from d
        left join s on d.rn = s.rn
        inner join sys.objects obj on d.object_id = obj.object_id
        inner join sys.schemas sch on obj.schema_id = sch.schema_id
        where obj.type = ''U''
          and (' + case when @TableName is null 
                        then '1=1' 
                        else 'obj.name = ''' + @TableName + '''' end + ')
    )

    ---------------------------------------------------------------------
    -- Final output
    ---------------------------------------------------------------------
    select *
    from joined
    order by impact_score desc;
    ';

    -------------------------------------------------------------------------
    -- Execute the DMV query inside the target database
    -------------------------------------------------------------------------
    exec(@sql);

end;

--exec dba.usp_IndexAdvisor @DatabaseName = 'AdventureWorksDW2019';

