/*============================================================================
  Procedure:   dba.usp_TableSkew
  Purpose:     Table-level distribution and skew diagnostics using coefficient
               of variation (CV) across leaf-level pages. Identifies skewed
               tables that may benefit from partitioning, key redesign, or ETL
               review.

  Overview:    - Uses sys.dm_db_index_physical_stats (version-safe)
               - Computes row distribution across leaf pages
               - Calculates coefficient of variation (CV)
               - Classifies skew severity (HEALTHY / WARNING / CRITICAL)

  Parameters:  @DatabaseName        Target database
               @IncludeSystemTables Include system tables (0 = user only)

  Output:      One row per table with:
                   coefficient_of_variation
                   skew_class

  Notes:       Designed to plug directly into:
                   dba.usp_DBTableHealthDashboard

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_TableSkew
      @DatabaseName        sysname
    , @IncludeSystemTables bit = 0
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (
        select 1
        from sys.databases
        where name = @DatabaseName
    )
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp table for results
    -------------------------------------------------------------------------
    if object_id('tempdb..#Skew') is not null drop table #Skew;

    create table #Skew
    (
          table_schema              sysname
        , table_name                sysname
        , coefficient_of_variation  decimal(18,6)
        , skew_class                varchar(20)
    );

    -------------------------------------------------------------------------
    -- dynamic SQL using dm_db_index_physical_stats
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = '
    use [' + @DatabaseName + '];

    with leaf_pages as
    (
        select
              s.name as table_schema
            , t.name as table_name
            , ps.page_count
            , ps.record_count
        from sys.dm_db_index_physical_stats
             (db_id(), null, null, null, ''DETAILED'') ps
        join sys.tables t
            on t.object_id = ps.object_id
        join sys.schemas s
            on s.schema_id = t.schema_id
        where ps.index_level = 0  -- leaf level only
          and (' + case when @IncludeSystemTables = 1
                        then '1=1'
                        else 't.is_ms_shipped = 0' end + ')
    ),
    agg as
    (
        select
              table_schema
            , table_name
            , avg(record_count * 1.0) as mean_rc
            , stdev(record_count * 1.0) as stdev_rc
        from leaf_pages
        group by table_schema, table_name
    )
    insert into #Skew
    (
          table_schema
        , table_name
        , coefficient_of_variation
        , skew_class
    )
    select
          table_schema
        , table_name
        , case when mean_rc = 0 then null
               else stdev_rc / mean_rc end as coefficient_of_variation
        , case
            when mean_rc = 0 then ''HEALTHY''

            when (stdev_rc / mean_rc) >= 1.0
                then ''CRITICAL''

            when (stdev_rc / mean_rc) between 0.3 and 1.0
                then ''WARNING''

            else ''HEALTHY''
          end as skew_class
    from agg;
    ';

    exec(@sql);

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          table_schema
        , table_name
        , coefficient_of_variation
        , skew_class
    from #Skew
    order by table_schema, table_name;

end;

--exec dba.usp_TableSkew @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_TableSkew @DatabaseName = 'AdventureWorksDW2019'