/*============================================================================
  Procedure:   dba.usp_TableBloat
  Purpose:     Table-level physical storage and bloat diagnostics, including
               forwarded records, ghost records, page density, and index
               fragmentation. Produces one row per table with a bloat
               classification suitable for dashboard aggregation.

  Overview:    - Scans all user tables (or system tables if requested)
               - Aggregates physical stats from sys.dm_db_index_physical_stats
               - Computes forwarded and ghost record counts
               - Computes average page density
               - Classifies bloat severity (HEALTHY / WARNING / CRITICAL)

  Parameters:  @DatabaseName        Target database
               @IncludeSystemTables Include system tables (0 = user only)

  Output:      One row per table with:
                   forwarded_record_count
                   ghost_record_count
                   avg_page_space_used
                   fragmentation_percent
                   bloat_class

  Notes:       Designed to plug directly into:
                   dba.usp_DBTableHealthDashboard

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_TableBloat
      @DatabaseName        sysname
    , @IncludeSystemTables bit = 0
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (
        select 1
        from sys.databases
        where name = @DatabaseName
    )
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp table for results
    -------------------------------------------------------------------------
    if object_id('tempdb..#Bloat') is not null drop table #Bloat;

    create table #Bloat
    (
          table_schema           sysname
        , table_name             sysname
        , forwarded_record_count bigint
        , ghost_record_count     bigint
        , avg_page_space_used    decimal(10,2)
        , fragmentation_percent  decimal(10,2)
        , bloat_class            varchar(20)
    );

    -------------------------------------------------------------------------
    -- dynamic SQL to collect physical stats
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = '
    use [' + @DatabaseName + '];

    with phys as
    (
        select
              s.name  as table_schema
            , t.name  as table_name
            , sum(ps.forwarded_record_count) as forwarded_record_count
            , sum(ps.ghost_record_count)     as ghost_record_count
            , avg(ps.avg_page_space_used_in_percent) as avg_page_space_used
            , avg(ps.avg_fragmentation_in_percent)   as fragmentation_percent
        from sys.dm_db_index_physical_stats
             (db_id(), null, null, null, ''SAMPLED'') ps
        join sys.tables t
            on t.object_id = ps.object_id
        join sys.schemas s
            on s.schema_id = t.schema_id
        where 1 = 1
          and (' + case when @IncludeSystemTables = 1
                        then '1=1'
                        else 't.is_ms_shipped = 0' end + ')
        group by s.name, t.name
    )
    insert into #Bloat
    (
          table_schema
        , table_name
        , forwarded_record_count
        , ghost_record_count
        , avg_page_space_used
        , fragmentation_percent
        , bloat_class
    )
    select
          table_schema
        , table_name
        , forwarded_record_count
        , ghost_record_count
        , avg_page_space_used
        , fragmentation_percent
        , case
            when fragmentation_percent >= 30
                 or forwarded_record_count > 10000
                 or avg_page_space_used < 60
                then ''CRITICAL''

            when fragmentation_percent between 10 and 30
                 or forwarded_record_count between 1000 and 10000
                 or avg_page_space_used between 60 and 75
                then ''WARNING''

            else ''HEALTHY''
          end as bloat_class
    from phys;
    ';

    exec(@sql);

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          table_schema
        , table_name
        , forwarded_record_count
        , ghost_record_count
        , avg_page_space_used
        , fragmentation_percent
        , bloat_class
    from #Bloat
    order by table_schema, table_name;

end;

--exec dba.usp_TableBloat @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_TableBloat @DatabaseName = 'AdventureWorksDW2019'