/*============================================================================
  Procedure:   dba.usp_TableNullAnomalies
  Purpose:     Table-level NULL anomaly detection. Identifies tables with
               excessive NULL patterns that may indicate ETL issues, schema
               drift, missing defaults, or broken lookups.

  Overview:    - Scans user tables in a target database
               - Computes NULL percentage per column via dynamic SQL
               - Aggregates to table-level metrics
               - Classifies severity (HEALTHY / WARNING / CRITICAL)
               - Optionally ignores very small tables

  Parameters:  @DatabaseName        Target database
               @IncludeSystemTables Include system tables (0 = user only)
               @SchemaPattern       Schema filter (default 'dbo')
               @MinRowCount         Minimum row count to include (default 0)

  Output:      One row per table with:
                   null_hotspots
                   max_null_percent
                   null_class

  Notes:       Fully DB-agnostic. Can be executed from master or any DB.
               Uses the same DB-agnostic pattern as usp_TableCardinalityHealth.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_TableNullAnomalies
      @DatabaseName        sysname
    , @IncludeSystemTables bit      = 0
    , @SchemaPattern       sysname  = 'dbo'
    , @MinRowCount         int      = 0
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#RawNulls')   is not null drop table #RawNulls;
    if object_id('tempdb..#Nulls')      is not null drop table #Nulls;
    if object_id('tempdb..#RowCounts')  is not null drop table #RowCounts;
    if object_id('tempdb..#TableList')  is not null drop table #TableList;
    if object_id('tempdb..#ColList')    is not null drop table #ColList;

    create table #RawNulls
    (
          table_schema sysname
        , table_name   sysname
        , null_pct     decimal(10,2)
    );

    create table #Nulls
    (
          table_schema     sysname
        , table_name       sysname
        , null_hotspots    int
        , max_null_percent decimal(10,2)
        , null_class       varchar(20)
    );

    create table #RowCounts
    (
          table_schema sysname
        , table_name   sysname
        , row_count    bigint
    );

    create table #TableList
    (
          schema_name sysname
        , table_name  sysname
    );

    create table #ColList
    (
          col_name sysname
    );

    -------------------------------------------------------------------------
    -- 1. Get table list from target DB (dynamic SQL → temp table)
    -------------------------------------------------------------------------
    declare @TableListSql nvarchar(max) = N'
        select s.name as schema_name, t.name as table_name
        from ' + quotename(@DatabaseName) + '.sys.tables t
        join ' + quotename(@DatabaseName) + '.sys.schemas s
            on s.schema_id = t.schema_id
        where ' + case when @IncludeSystemTables = 1
                       then '1=1'
                       else 't.is_ms_shipped = 0'
                  end + '
          and s.name like @SchemaPattern
        order by s.name, t.name;
    ';

    insert into #TableList(schema_name, table_name)
    exec sp_executesql
        @TableListSql,
        N'@SchemaPattern sysname',
        @SchemaPattern;

    -------------------------------------------------------------------------
    -- 2. Cursor over static table list
    -------------------------------------------------------------------------
    declare @schema sysname, @table sysname;

    declare curTables cursor fast_forward for
    select schema_name, table_name
    from #TableList;

    open curTables;
    fetch next from curTables into @schema, @table;

    -------------------------------------------------------------------------
    -- 3. Per-table NULL scanning (dynamic SQL)
    -------------------------------------------------------------------------
    while @@fetch_status = 0
    begin
        ---------------------------------------------------------------------
        -- Build column list from target DB (dynamic SQL → temp table)
        ---------------------------------------------------------------------
        truncate table #ColList;

        declare @ColumnListSql nvarchar(max) = N'
            select c.name
            from ' + quotename(@DatabaseName) + '.sys.columns c
            join ' + quotename(@DatabaseName) + '.sys.tables t
                on t.object_id = c.object_id
            join ' + quotename(@DatabaseName) + '.sys.schemas s
                on s.schema_id = t.schema_id
            where t.name = @T
              and s.name = @S
            order by c.column_id;
        ';

        insert into #ColList(col_name)
        exec sp_executesql
            @ColumnListSql,
            N'@T sysname, @S sysname',
            @T = @table, @S = @schema;

        ---------------------------------------------------------------------
        -- Cursor over static column list
        ---------------------------------------------------------------------
        declare @colName sysname;
        declare curCols cursor fast_forward for
        select col_name from #ColList;

        open curCols;
        fetch next from curCols into @colName;

        declare @colSql nvarchar(max) = N'';

        ---------------------------------------------------------------------
        -- Build NULL-percentage queries for each column
        ---------------------------------------------------------------------
        while @@fetch_status = 0
        begin
            set @colSql = @colSql + '
                select
                      ''' + @schema + ''' as table_schema
                    , ''' + @table  + ''' as table_name
                    , case when count(*) = 0 then 0
                           else (count(*) - count(' + quotename(@colName) + ')) * 100.0 / count(*) end as null_pct
                from ' + quotename(@DatabaseName) + '.' + quotename(@schema) + '.' + quotename(@table) + '
                union all';

            fetch next from curCols into @colName;
        end;

        close curCols;
        deallocate curCols;

        ---------------------------------------------------------------------
        -- Execute NULL scan for this table
        ---------------------------------------------------------------------
        if len(@colSql) > 0
        begin
            set @colSql = left(@colSql, len(@colSql) - 9); -- trim UNION ALL

            insert into #RawNulls (table_schema, table_name, null_pct)
            exec(@colSql);
        end;

        fetch next from curTables into @schema, @table;
    end;

    close curTables;
    deallocate curTables;

    -------------------------------------------------------------------------
    -- 4. Row counts from target DB (dynamic SQL)
    -------------------------------------------------------------------------
    declare @RowCountSql nvarchar(max) = N'
        select
              s.name as table_schema
            , t.name as table_name
            , sum(p.row_count) as row_count
        from ' + quotename(@DatabaseName) + '.sys.dm_db_partition_stats p
        join ' + quotename(@DatabaseName) + '.sys.tables t
            on t.object_id = p.object_id
        join ' + quotename(@DatabaseName) + '.sys.schemas s
            on s.schema_id = t.schema_id
        where p.index_id in (0,1)
        group by s.name, t.name;
    ';

    insert into #RowCounts
    exec(@RowCountSql);

    -------------------------------------------------------------------------
    -- 5. Aggregate to table-level metrics
    -------------------------------------------------------------------------
    insert into #Nulls
    (
          table_schema
        , table_name
        , null_hotspots
        , max_null_percent
        , null_class
    )
    select
          table_schema
        , table_name
        , sum(case when null_pct >= 50 then 1 else 0 end) as null_hotspots
        , max(null_pct) as max_null_percent
        , case
            when max(null_pct) >= 50 then 'CRITICAL'
            when max(null_pct) between 20 and 50 then 'WARNING'
            else 'HEALTHY'
          end as null_class
    from #RawNulls
    group by table_schema, table_name;

    -------------------------------------------------------------------------
    -- 6. Final filtered output
    -------------------------------------------------------------------------
    select
          n.table_schema
        , n.table_name
        , n.null_hotspots
        , n.max_null_percent
        , n.null_class
    from #Nulls n
    join #RowCounts rc
        on rc.table_schema = n.table_schema
       and rc.table_name   = n.table_name
    where rc.row_count >= @MinRowCount
    order by n.table_schema, n.table_name;

end;

--exec dba.usp_TableNullAnomalies @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_TableNullAnomalies @DatabaseName = 'AdventureWorksDW2019'