/*============================================================================
  Procedure:   dba.usp_TableCardinalityHealth
  Purpose:     Table-level statistics health diagnostics. Identifies tables
               with stale statistics, high modification counters, or shallow
               histograms that may cause poor cardinality estimates.

  Overview:    - Scans all user tables (or system tables if requested)
               - Aggregates statistics metadata to table-level signals
               - Computes:
                     * stats_age_hours
                     * modification_counter
                     * histogram_steps
               - Classifies severity (HEALTHY / WARNING / CRITICAL)

  Parameters:  @DatabaseName        Target database
               @IncludeSystemTables Include system tables (0 = user only)

  Output:      One row per table with:
                   stats_age_hours
                   modification_counter
                   histogram_steps
                   stats_class

  Notes:       Fully DB-agnostic. Can be executed from master or any DB.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_TableCardinalityHealth
      @DatabaseName        sysname
    , @IncludeSystemTables bit = 0
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    declare @dbid int = db_id(@DatabaseName);

    -------------------------------------------------------------------------
    -- temp table for results
    -------------------------------------------------------------------------
    if object_id('tempdb..#Stats') is not null drop table #Stats;

    create table #Stats
    (
          table_schema         sysname
        , table_name           sysname
        , stats_age_hours      decimal(18,2)
        , modification_counter bigint
        , histogram_steps      int
        , stats_class          varchar(20)
    );

    -------------------------------------------------------------------------
    -- dynamic SQL to query metadata from target DB
    -------------------------------------------------------------------------
    declare @sql nvarchar(max) = N'
    ;with s as
    (
        select
              sch.name as table_schema
            , t.name   as table_name
            , st.stats_id
            , sp.last_updated
            , sp.modification_counter
            , sp.steps as histogram_steps
        from       ' + quotename(@DatabaseName) + '.sys.stats st
        join       ' + quotename(@DatabaseName) + '.sys.tables t
            on     t.object_id = st.object_id
        join       ' + quotename(@DatabaseName) + '.sys.schemas sch
            on     sch.schema_id = t.schema_id
        cross apply sys.dm_db_stats_properties(' + cast(@dbid as varchar(10)) + ', st.stats_id) sp
        where ' + case when @IncludeSystemTables = 1
                       then '1=1'
                       else 't.is_ms_shipped = 0'
                  end + '
    ),
    agg as
    (
        select
              table_schema
            , table_name
            , max(datediff(hour, last_updated, sysdatetime())) as stats_age_hours
            , max(modification_counter) as modification_counter
            , max(histogram_steps)      as histogram_steps
        from s
        group by table_schema, table_name
    )
    select
          table_schema
        , table_name
        , stats_age_hours
        , modification_counter
        , histogram_steps
        , case
            when stats_age_hours > 168
                 or modification_counter > 500000
                 or histogram_steps < 50
                then ''CRITICAL''

            when stats_age_hours between 48 and 168
                 or modification_counter between 50000 and 500000
                 or histogram_steps between 50 and 100
                then ''WARNING''

            else ''HEALTHY''
          end as stats_class
    from agg;
    ';

    insert into #Stats
    exec(@sql);

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          table_schema
        , table_name
        , stats_age_hours
        , modification_counter
        , histogram_steps
        , stats_class
    from #Stats
    order by table_schema, table_name;

end;

--exec dba.usp_TableCardinalityHealth @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_TableCardinalityHealth @DatabaseName = 'AdventureWorksDW2019'