/*============================================================================
  Procedure:   dba.usp_BackupAndRecoveryHealth
  Purpose:     Backup and recovery posture assessment for a single database.
               Surfaces gaps, age issues, and recovery risks.

  Overview:    - Runs from master (DB-agnostic via @DatabaseName)
               - Reads msdb backup history and sys.databases
               - Evaluates:
                   * Last full / diff / log backup times
                   * Backup age vs thresholds
                   * Recovery model vs backup pattern
                   * Log backup gaps for FULL/BULK_LOGGED
               - Returns a consolidated findings set with severity + category

  Parameters:  @DatabaseName          Target database
               @FullMaxHours          Max allowed age (hours) for last FULL
               @DiffMaxHours          Max allowed age (hours) for last DIFF
               @LogMaxMinutes         Max allowed age (minutes) for last LOG
               @IncludeDetails        Include raw timing context (0/1)

  Output:      One row per finding:
                   severity        (CRITICAL / WARNING / INFO)
                   finding_type    (e.g. FULL_BACKUP_AGE, NO_LOG_BACKUPS)
                   recovery_model
                   last_full_backup
                   last_diff_backup
                   last_log_backup
                   details

  Notes:       - Requires msdb backup history to be retained.
               - Designed for dashboards and DBA health reports.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_BackupAndRecoveryHealth
      @DatabaseName   sysname
    , @FullMaxHours   int  = 24
    , @DiffMaxHours   int  = 24
    , @LogMaxMinutes  int  = 15
    , @IncludeDetails bit  = 1
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- validate database exists
    -------------------------------------------------------------------------
    if not exists (select 1 from sys.databases where name = @DatabaseName)
    begin
        raiserror('Database %s does not exist.', 16, 1, @DatabaseName);
        return;
    end;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#DbInfo')    is not null drop table #DbInfo;
    if object_id('tempdb..#Backups')   is not null drop table #Backups;
    if object_id('tempdb..#Findings')  is not null drop table #Findings;

    create table #DbInfo
    (
          database_name   sysname
        , recovery_model  nvarchar(60)
    );

    create table #Backups
    (
          database_name     sysname
        , last_full_backup  datetime null
        , last_diff_backup  datetime null
        , last_log_backup   datetime null
    );

    create table #Findings
    (
          severity         varchar(10)
        , finding_type     varchar(50)
        , recovery_model   nvarchar(60) null
        , last_full_backup datetime null
        , last_diff_backup datetime null
        , last_log_backup  datetime null
        , details          nvarchar(4000) null
    );

    -------------------------------------------------------------------------
    -- 1. Database info (recovery model)
    -------------------------------------------------------------------------
    insert into #DbInfo
    (
          database_name
        , recovery_model
    )
    select
          name
        , recovery_model_desc
    from sys.databases
    where name = @DatabaseName;

    -------------------------------------------------------------------------
    -- 2. Backup history from msdb
    -------------------------------------------------------------------------
    insert into #Backups
    (
          database_name
        , last_full_backup
        , last_diff_backup
        , last_log_backup
    )
    select
          d.name as database_name
        , max(case when b.type = 'D' then b.backup_finish_date end) as last_full_backup
        , max(case when b.type = 'I' then b.backup_finish_date end) as last_diff_backup
        , max(case when b.type = 'L' then b.backup_finish_date end) as last_log_backup
    from sys.databases d
    left join msdb.dbo.backupset b
        on b.database_name = d.name
    where d.name = @DatabaseName
    group by d.name;

    -------------------------------------------------------------------------
    -- 3. Derive context
    -------------------------------------------------------------------------
    declare
          @recovery_model   nvarchar(60)
        , @last_full        datetime
        , @last_diff        datetime
        , @last_log         datetime;

    select
          @recovery_model = di.recovery_model
        , @last_full      = b.last_full_backup
        , @last_diff      = b.last_diff_backup
        , @last_log       = b.last_log_backup
    from #DbInfo di
    join #Backups b
        on b.database_name = di.database_name;

    -------------------------------------------------------------------------
    -- 4. Full backup age
    -------------------------------------------------------------------------
    if @last_full is null
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , recovery_model
            , last_full_backup
            , details
        )
        values
        (
              'CRITICAL'
            , 'NO_FULL_BACKUP'
            , @recovery_model
            , null
            , 'No full backup found in msdb history.'
        );
    end
    else
    begin
        if datediff(hour, @last_full, sysdatetime()) > @FullMaxHours
        begin
            insert into #Findings
            (
                  severity
                , finding_type
                , recovery_model
                , last_full_backup
                , details
            )
            values
            (
                  'CRITICAL'
                , 'FULL_BACKUP_AGE'
                , @recovery_model
                , @last_full
                , concat('Last full backup is older than ', @FullMaxHours, ' hours.')
            );
        end;
    end;

    -------------------------------------------------------------------------
    -- 5. Differential backup age (if any)
    -------------------------------------------------------------------------
    if @last_diff is null
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , recovery_model
            , last_diff_backup
            , details
        )
        values
        (
              'WARNING'
            , 'NO_DIFF_BACKUP'
            , @recovery_model
            , null
            , 'No differential backup found in msdb history.'
        );
    end
    else
    begin
        if datediff(hour, @last_diff, sysdatetime()) > @DiffMaxHours
        begin
            insert into #Findings
            (
                  severity
                , finding_type
                , recovery_model
                , last_diff_backup
                , details
            )
            values
            (
                  'WARNING'
                , 'DIFF_BACKUP_AGE'
                , @recovery_model
                , @last_diff
                , concat('Last differential backup is older than ', @DiffMaxHours, ' hours.')
            );
        end;
    end;

    -------------------------------------------------------------------------
    -- 6. Log backup age (for FULL / BULK_LOGGED)
    -------------------------------------------------------------------------
    if @recovery_model in ('FULL','BULK_LOGGED')
    begin
        if @last_log is null
        begin
            insert into #Findings
            (
                  severity
                , finding_type
                , recovery_model
                , last_log_backup
                , details
            )
            values
            (
                  'CRITICAL'
                , 'NO_LOG_BACKUPS'
                , @recovery_model
                , null
                , 'No log backups found for FULL/BULK_LOGGED database.'
            );
        end
        else
        begin
            if datediff(minute, @last_log, sysdatetime()) > @LogMaxMinutes
            begin
                insert into #Findings
                (
                      severity
                    , finding_type
                    , recovery_model
                    , last_log_backup
                    , details
                )
                values
                (
                      'CRITICAL'
                    , 'LOG_BACKUP_AGE'
                    , @recovery_model
                    , @last_log
                    , concat('Last log backup is older than ', @LogMaxMinutes, ' minutes.')
                );
            end;
        end;
    end
    else
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , recovery_model
            , details
        )
        values
        (
              'INFO'
            , 'SIMPLE_RECOVERY'
            , @recovery_model
            , 'Database is in SIMPLE recovery; log backups are not required.'
        );
    end;

    -------------------------------------------------------------------------
    -- 7. Optional: informational context
    -------------------------------------------------------------------------
    if @IncludeDetails = 1
    begin
        insert into #Findings
        (
              severity
            , finding_type
            , recovery_model
            , last_full_backup
            , last_diff_backup
            , last_log_backup
            , details
        )
        values
        (
              'INFO'
            , 'BACKUP_TIMELINE'
            , @recovery_model
            , @last_full
            , @last_diff
            , @last_log
            , 'Backup timeline context for dashboard display.'
        );
    end;

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          severity
        , finding_type
        , recovery_model
        , last_full_backup
        , last_diff_backup
        , last_log_backup
        , details
    from #Findings
    order by
          case severity when 'CRITICAL' then 1 when 'WARNING' then 2 else 3 end
        , finding_type;

end;

--exec dba.usp_BackupAndRecoveryHealth @DatabaseName = 'AdventureWorksDW2019'

go

exec dba.usp_BackupAndRecoveryHealth @DatabaseName = 'AdventureWorksDW2019'