/*============================================================================
  Procedure:   dba.usp_WaitStatsDiagnostics
  Purpose:     Server-level wait statistics analysis. Identifies top waits,
               categorizes them, and highlights performance risks.

  Overview:    - Reads sys.dm_os_wait_stats
               - Excludes benign waits
               - Categorizes waits (CPU, IO, Locking, Latching, Memory, Parallelism)
               - Computes wait ratios and severity
               - Returns a consolidated findings set for dashboards

  Output:      One row per wait category:
                   severity
                   wait_category
                   total_wait_ms
                   wait_pct
                   top_waits
                   details

  Notes:       - Server-level diagnostic; no DB context required.
               - Complements BlockingDiagnostics and TempDBUsage.

  Author:      Michael Lloyd — Gulf to Bay Analytics Modernization Toolkit
  ============================================================================*/

create or alter procedure dba.usp_WaitStatsDiagnostics
as
begin
    set nocount on;

    -------------------------------------------------------------------------
    -- temp tables
    -------------------------------------------------------------------------
    if object_id('tempdb..#Waits')     is not null drop table #Waits;
    if object_id('tempdb..#Findings')  is not null drop table #Findings;

    create table #Waits
    (
          wait_type        sysname
        , wait_category    varchar(40)
        , wait_ms          bigint
        , signal_ms        bigint
        , wait_pct         decimal(10,2)
    );

    create table #Findings
    (
          severity         varchar(10)
        , wait_category    varchar(40)
        , total_wait_ms    bigint
        , wait_pct         decimal(10,2)
        , top_waits        nvarchar(4000)
        , details          nvarchar(4000)
    );

    -------------------------------------------------------------------------
    -- 1. Exclude benign waits
    -------------------------------------------------------------------------
    declare @Benign table (wait_type sysname);

    insert into @Benign(wait_type)
    values
    ('BROKER_EVENTHANDLER'),('BROKER_RECEIVE_WAITFOR'),('BROKER_TASK_STOP'),
    ('BROKER_TO_FLUSH'),('BROKER_TRANSMITTER'),('CHECKPOINT_QUEUE'),
    ('CLR_AUTO_EVENT'),('CLR_MANUAL_EVENT'),('CLR_SEMAPHORE'),
    ('LAZYWRITER_SLEEP'),('LOGMGR_QUEUE'),('REQUEST_FOR_DEADLOCK_SEARCH'),
    ('XE_TIMER_EVENT'),('XE_DISPATCHER_WAIT'),('FT_IFTS_SCHEDULER_IDLE_WAIT'),
    ('SQLTRACE_BUFFER_FLUSH'),('SLEEP_TASK'),('SLEEP_SYSTEMTASK'),
    ('WAITFOR'),('WAITFOR_TASKSHUTDOWN'),('WAIT_XTP_HOST_WAIT'),
    ('HADR_FILESTREAM_IOMGR_IOCOMPLETION'),('HADR_LOGCAPTURE_WAIT'),
    ('HADR_TIMER_TASK'),('HADR_WORK_QUEUE'),('DIRTY_PAGE_POLL'),
    ('SP_SERVER_DIAGNOSTICS_SLEEP');

    -------------------------------------------------------------------------
    -- 2. Pull wait stats
    -------------------------------------------------------------------------
    declare @TotalWaitMs bigint;

    select @TotalWaitMs = sum(wait_time_ms)
    from sys.dm_os_wait_stats
    where wait_type not in (select wait_type from @Benign);

    insert into #Waits
    (
          wait_type
        , wait_category
        , wait_ms
        , signal_ms
        , wait_pct
    )
    select
          ws.wait_type
        , case
            when ws.wait_type like 'PAGEIOLATCH%' then 'IO'
            when ws.wait_type like 'LCK_%'        then 'LOCK'
            when ws.wait_type like 'PAGELATCH%'   then 'LATCH'
            when ws.wait_type like 'CXPACKET' 
              or ws.wait_type like 'CXCONSUMER'   then 'PARALLELISM'
            when ws.wait_type like 'SOS_SCHEDULER_YIELD' then 'CPU'
            when ws.wait_type like 'RESOURCE_SEMAPHORE%' then 'MEMORY'
            else 'OTHER'
          end as wait_category
        , ws.wait_time_ms
        , ws.signal_wait_time_ms
        , case when @TotalWaitMs = 0 then 0
               else (ws.wait_time_ms * 100.0 / @TotalWaitMs) end
    from sys.dm_os_wait_stats ws
    where ws.wait_type not in (select wait_type from @Benign)
      and ws.wait_time_ms > 0;

    -------------------------------------------------------------------------
    -- 3. Aggregate by category
    -------------------------------------------------------------------------
    insert into #Findings
    (
          severity
        , wait_category
        , total_wait_ms
        , wait_pct
        , top_waits
        , details
    )
    select
          case
            when sum(wait_ms) * 100.0 / @TotalWaitMs >= 40 then 'CRITICAL'
            when sum(wait_ms) * 100.0 / @TotalWaitMs >= 20 then 'WARNING'
            else 'INFO'
          end as severity
        , wait_category
        , sum(wait_ms) as total_wait_ms
        , sum(wait_ms) * 100.0 / @TotalWaitMs as wait_pct
        , stuff((
                select ', ' + w.wait_type
                from #Waits w
                where w.wait_category = wc.wait_category
                order by w.wait_ms desc
                for xml path(''), type).value('.', 'nvarchar(max)')
              ,1,2,'') as top_waits
        , 'Aggregated wait category analysis.' as details
    from #Waits wc
    group by wait_category;

    -------------------------------------------------------------------------
    -- final output
    -------------------------------------------------------------------------
    select
          severity
        , wait_category
        , total_wait_ms
        , wait_pct
        , top_waits
        , details
    from #Findings
    order by
          case severity when 'CRITICAL' then 1 when 'WARNING' then 2 else 3 end
        , wait_pct desc;

end;

--exec dba.usp_WaitStatsDiagnostics

go

exec dba.usp_WaitStatsDiagnostics --@DatabaseName = 'AdventureWorksDW2019'